.Home{
    text-align: center;
    color: #F5F5F9;
}

#HomeTitle{
    font-family: "Arial Black", serif;
    font-weight: bold;
    font-size: 48px;
    color: #666666;
    padding-top: 140px;
}

#PublishPageButton{
    padding-left: 120px;
    padding-right: 120px;
    width: fit-content;
}

#ViewPageButton{
    margin-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
    width: fit-content;
}